version: '3.1'

volumes:
  mariadb-db: {}

services:
  db:
    image: mariadb:10.6
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: root
      MYSQL_DATABASE: notice
    ports:
      - 3306:3306
    volumes:
      - /c/docker:/var/lib/mysql
  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080