spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: root
    url: "jdbc:mariadb://127.0.0.1:3306/notice"
  jpa:
    database: mysql
#    generate-ddl: true
    properties:
      ddl-auto: create
      hibernate:
        show_sql: true
        format_sql: true
#  h2:
#    console:
#      enabled: true
#      settings:
#        web-allow-others: true

logging:
  level:
    org.hibernate.SQL: debug
