spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: root
    url: "jdbc:mariadb://127.0.0.1:3306/notice"
  servlet:
    multipart:
      # max file size
      max-file-size: 10MB
      max-request-size: 10MB
  jpa:
    database: mysql
    #    generate-ddl: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
  profiles:
    # application-credentials 파일 포함
    include:
      - credentials
#  h2:
#    console:
#      enabled: true
#      settings:
#        web-allow-others: true
cloud:
  aws:
    s3:
      bucket: springboot-intern-backend
    credentials:
      instance-profile: true
    region:
      static: ap-northeast-2
    stack:
      auto: false
logging:
  level:
    org.hibernate.SQL: debug
